#headings {
    background-color: #2C3639;
    padding: 20px;
    color: #DCD7C9;
}

#present {
    padding: 25px;
    text-align: center;
}

p {
    padding-top: 20px;
}

body {
    font-family: 'Roboto Mono', monospace;
    background-color: #DCD7C9;
    color: #2C3639

}

button {
    background-color: #A27B5C;
    text-align: center;
    margin-left: 40%;
    border: 0px;

}

@media screen and (min-width: 900px) {
    #genCat {
        margin-top: 40%;
    }
}